*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{

}
.showcase{
    height: 250px;
    width: 100%;
    color: white;
    background-color: blue;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    color: blue;
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.section-ofertas{
    color: white;
    background-color: red;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;  
}
.flex-container-nike{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container-jordan{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-item{
    height: 400px;
    width: 250px;
}
.flex-container-ofertas .flex-item h2{
    background-color: red;
    color: white;
}
.img-container{
    height: 250px;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.flex-item h2{
    color: white;
    background-color: blue;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}
.flex-item .specs{
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
}
.specs{
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;   
}




.social-container{
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}
.social-container h1{
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}
.social-container .social-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px 0px;
}
.social-container .social-ul a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 15px;
}
